In [3]:
import numpy as np
import requests
import pandas as pd

In [2]:
np.load('rainbow.npy')

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]], dtype=uint8)

In [8]:
df = pd.read_json('apple.ndjson', lines=True)

In [9]:
df_unrecognized = df[df['recognized'] == False]

In [23]:
df_unrecognized['countrycode'].value_counts().head()

US    2480
GB     384
CA     166
KR     123
SA     123
Name: countrycode, dtype: int64

In [45]:
(df_unrecognized.groupby('countrycode')
 .filter(lambda x: x['countrycode'].count() > 20)['countrycode']
 .value_counts())

US    2480
GB     384
CA     166
SA     123
KR     123
AU     100
RU      89
DE      81
SE      73
PH      65
FI      56
CZ      54
IT      52
TW      48
FR      45
PL      45
TH      41
ID      41
AE      40
BR      40
IE      31
HU      31
RO      31
NL      28
IN      26
NZ      23
VN      22
JP      21
BG      21
MY      21
Name: countrycode, dtype: int64

In [48]:
len(df[df['countrycode'] == 'CH'])

510

In [51]:
df_unrecognized.ix[0]['drawing']

[[[675], [158], [0]],
 [[675, 675], [158, 158], [185, 189]],
 [[675, 675], [158, 158], [221, 232]],
 [[675, 674], [158, 159], [257, 1018]],
 [[480,
   474,
   468,
   453,
   431,
   407,
   383,
   357,
   333,
   310,
   291,
   280,
   275,
   275,
   283,
   299,
   324,
   353,
   382,
   409,
   434,
   456,
   473,
   486,
   490,
   486,
   466,
   441,
   441],
  [237,
   223,
   218,
   219,
   227,
   238,
   251,
   272,
   297,
   325,
   358,
   393,
   427,
   462,
   497,
   523,
   541,
   549,
   549,
   536,
   511,
   477,
   432,
   384,
   337,
   295,
   259,
   229,
   229],
  [5195,
   5216,
   5258,
   5284,
   5299,
   5315,
   5333,
   5351,
   5366,
   5383,
   5400,
   5417,
   5433,
   5450,
   5467,
   5484,
   5501,
   5516,
   5534,
   5550,
   5566,
   5586,
   5613,
   5616,
   5642,
   5654,
   5664,
   5681,
   5698]],
 [[407,
   402,
   396,
   396,
   402,
   412,
   421,
   431,
   444,
   457,
   468,
   480,
   491,
   504,
   516,
   527,
   536,
   543,
   549,
   554,
   559,
   557],
  [310,
   307,
   292,
   270,
   238,
   212,
   198,
   186,
   176,
   169,
   164,
   161,
   159,
   159,
   159,
   161,
   164,
   167,
   170,
   173,
   179,
   177],
  [5865,
   5883,
   5916,
   5933,
   5951,
   5967,
   5988,
   5998,
   6015,
   6043,
   6054,
   6070,
   6084,
   6097,
   6114,
   6133,
   6150,
   6166,
   6192,
   6200,
   6234,
   6403]]]